[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pyflask led role web server
Comment=web server for led role option
Exec=/usr/bin/launch_led_role_option.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

