[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=set_br
Comment=bridge eth0 and enp1su1u1u4
Exec=/usr/bin/set_br.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

