[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=modify env by role
Comment=modify env by role
Exec=/usr/bin/set_led_env.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

