[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=set panel always on with xconf
Comment=set panel always on with xconf
Exec=/usr/bin/set_always_display_on.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

